backend-dotnet/BusinessRules/bin/
backend-dotnet/BusinessRules/obj/
backend-dotnet/BusinessRules.Tests/bin/
backend-dotnet/BusinessRules.Tests/obj/
backend-dotnet/CarritoComprasBackend/bin/
backend-dotnet/CarritoComprasBackend/obj/
backend-dotnet/CarritoComprasBackend.Tests/bin/
backend-dotnet/CarritoComprasBackend.Tests/obj/
backend-dotnet/CarritoComprasBackend/.vs/
backend-dotnet/DataRepository/bin/
backend-dotnet/DataRepository/obj/
backend-dotnet/Services/bin/
backend-dotnet/Services/obj/
backend-dotnet/ValidationFactory/bin/
backend-dotnet/ValidationFactory/obj/
backend-dotnet/Validations/bin/
backend-dotnet/Validations/obj/

# Variables de entorno locales
.env
**/.env

# Dumps de base de datos
*.sql
*.dump


frontend/react/carrito-compras-frontend/build/
frontend/react/carrito-compras-frontend/node_modules/