backend/BusinessRules/bin/
backend/BusinessRules/obj/
backend/CarritoComprasBackend/bin/
backend/CarritoComprasBackend/obj/
backend/CarritoComprasBackend/.vs/
backend/DataRepository/bin/
backend/DataRepository/obj/
backend/Services/bin/
backend/Services/obj/
backend/ValidationFactory/bin/
backend/ValidationFactory/obj/
backend/Validations/bin/
backend/Validations/obj/

carrito-compras-frontend/build/
carrito-compras-frontend/node_modules/